.answerIcon { position: relative; background: url(./icons/robot.svg); }
.typeingIcon { position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 16px; height: 16px; background: #374151; box-shadow: 0 1px 2px rgba(0,0,0,0.3); border-radius: 16px; }
.questionIcon { background: url(./icons/default-avatar.jpg); background-size: contain; border-radius: 50%; }
.count { padding: 0 2px; }
.sendBtn { background: url(./icons/send.svg) center center no-repeat; }
.sendBtn:hover { background-image: url(./icons/send-active.svg); background-color: #1E3A5F; }
